# Exercice API

In [37]:
import pandas as pd
import requests
from math import ceil

In [14]:
url = "https://gist.github.com/paulmillr/2657075"
dfs = pd.read_html(url, attrs={"cellspacing":"0"})
assert len(dfs) == 1, "there are multiple results from read_html"

In [15]:
most_active_users = dfs[0]
most_active_users.head()

    #                          User  Contribs         Location  Picture
0  #1     fabpot (Fabien Potencier)     12947    San Francisco      NaN
1  #2       andrew (Andrew Nesbitt)     10188     Somerset, UK      NaN
2  #3  taylorotwell (Taylor Otwell)      8376  Little Rock, AR      NaN
3  #4               egoist (EGOIST)      7688   Chengdu, China      NaN
4  #5  HugoGiraudel (Hugo Giraudel)      7658           Berlin      NaN

In [16]:
testUsers = ["fabpot", "radcheb"]

In [89]:
!curl -s "https://api.github.com/users/fabpot?per_page=100" | jq ".public_repos" && curl -s "https://api.github.com/users/fabpot/repos?per_page=100" | jq ".[].stargazers_count" | awk '{s+=$1} END {print s}'

36
923

In [90]:
!curl -s "https://api.github.com/users/radcheb?per_page=100" | jq ".public_repos" && curl -s "https://api.github.com/users/radcheb/repos?per_page=100" | jq ".[].stargazers_count" | awk '{s+=$1} END {print s}'

82
3

In [100]:
expected_mean_stars = [923/36, 3/82]

In [25]:
import getpass
github_token = getpass.getpass()
headers = {'Authorization': 'token ' + github_token}

········

In [109]:
def get_user_repos_count(username):
    url = "https://api.github.com/users/" + username
    response = requests.get(url, headers=headers)
    return response.json()['public_repos']
def get_mean_stars(username):
    num_pages = ceil(get_user_repos_count(username) / 100)
    url_template =  "https://api.github.com/users/{0}/repos?per_page=100&page={1}"
    repos_stars = []
    for page in range(0, num_pages):
        url = url_template.format(username, page)
        response = requests.get(url, headers=headers)
        repos_stars.extend([repo['stargazers_count'] for repo in response.json()])
    return sum(repos_stars) / len(repos_stars) if len(repos_stars) > 0 else 0

In [103]:
actual_mean_stars = [get_mean_stars(u) for u in testUsers]
assert actual_mean_stars == expected_mean_stars, "resulat is not same as expected"

In [110]:
most_active_users['mean_stars'] = most_active_users['User'].apply(lambda u: get_mean_stars(u.split(" ")[0]))
most_active_users.head()

,#,User,Contribs,Location,Picture,mean_stars
0,#1,fabpot (Fabien Potencier),12947,San Francisco,NaN,25.638889
1,#2,andrew (Andrew Nesbitt),10188,"Somerset, UK",NaN,3.427500
2,#3,taylorotwell (Taylor Otwell),8376,"Little Rock, AR",NaN,4.500000
3,#4,egoist (EGOIST),7688,"Chengdu, China",NaN,31.215714
4,#5,HugoGiraudel (Hugo Giraudel),7658,Berlin,NaN,152.725000

In [73]:
url = "https://api.github.com/users/radcheb/repos?per_page=100&page=1"
response = requests.get(url, headers=headers)

In [113]:
most_active_users[['User', 'mean_stars']].sort_values('mean_stars', ascending=False)

                                        User   mean_stars
225                     bailicangdu (cangdu)  3502.923077
18              kamranahmedse (Kamran Ahmed)  2274.250000
142                            vinta (Vinta)  1829.906250
117                         mrdoob (Mr.doob)  1597.057143
194                       IanLunn (Ian Lunn)  1401.944444
44    sebastianbergmann (Sebastian Bergmann)  1387.633333
230                    junyanz (Jun-Yan Zhu)  1372.857143
153      nolimits4web (Vladimir Kharlampidi)  1338.642857
195                     ruanyf (Ruan YiFeng)  1260.830189
109               JakeWharton (Jake Wharton)  1072.860000
196                        binux (Roy Binux)   855.600000
208                   gorhill (Raymond Hill)   850.791667
106              photonstorm (Richard Davey)   794.205882
148                   toddmotto (Todd Motto)   771.697368
221                   connors (Connor Sears)   643.857143
21              kennethreitz (Kenneth Reitz)   627.343434
246                             Unknwon (无闻)   624.083333
119          fzaninotto (Francois Zaninotto)   538.431818
111   krzysztofzablocki (Krzysztof Zabłocki)   503.131579
65                           mdo (Mark Otto)   481.650000
181                       jaywcjlove (小弟调调™)   476.743243
228         amitshekhariitbhu (AMIT SHEKHAR)   476.108108
91                       tj (TJ Holowaychuk)   472.900000
168                        ded (Dustin Diaz)   437.038462
190                 dennybritz (Denny Britz)   436.884615
29                      mikepenz (Mike Penz)   420.036364
27              steipete (Peter Steinberger)   401.636364
167                    Draveness (Draveness)   401.333333
156                     LeaVerou (Lea Verou)   388.836066
212                   daylerees (Dayle Rees)   388.062500
..                                       ...          ...
17                               afc163 (偏右)     7.550000
209                          phuslu (phuslu)     7.443038
87                  curran (Curran Kelleher)     6.910000
150          EisenbergEffect (Rob Eisenberg)     6.666667
71              steveklabnik (Steve Klabnik)     6.422500
139                       j2kun (Jeremy Kun)     6.400000
97                   mjhea0 (Michael Herman)     6.292857
126                   sokra (Tobias Koppers)     6.263736
176        laanwj (Wladimir J. van der Laan)     6.090000
79               michalbe (Michał Budzyński)     6.080000
157              davidtmiller (David Miller)     5.833333
224               joyeecheung (Joyee Cheung)     5.159091
144        ashleygwilliams (ashley williams)     5.017500
188                        dsyer (Dave Syer)     4.960000
22                   kytrinyx (Katrina Owen)     4.850000
2               taylorotwell (Taylor Otwell)     4.500000
25   weierophinney (Matthew Weier O'Phinney)     4.033333
199           suissa (Jean Carlo Nascimento)     3.654286
1                    andrew (Andrew Nesbitt)     3.427500
38                 stof (Christophe Coevoet)     2.992000
10                 mikermcneil (Mike McNeil)     2.740000
197                      nfultz (Neal Fultz)     2.587500
7                          nelsonic (Nelson)     2.000000
206                        fengmk2 (fengmk2)     1.840000
35              rafaelfranca (Rafael França)     0.820000
48               sevilayha (Chris Sevilleja)     0.625000
247                   jiyinyiyong (Jon Chen)     0.610000
58                   dmalan (David J. Malan)     0.481481
98                   0x00A (paolo fragomeni)     0.000000
178                thejameskyle (James Kyle)     0.000000

[256 rows x 2 columns]